h1 {
    color: goldenrod;
    text-decoration: overline;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    margin: 10vh;
    line-height: 4vh;
    background: rgb(33,129,43);
    background: radial-gradient(circle, rgba(33,129,43,1) 0%, rgba(97,185,52,1) 78%, rgba(87,195,50,1) 100%);
}
button {
    width: 22vw;
    background-color: goldenrod;
    border: 0ch;
    border-radius: 0.1em;
    color: rgb(33,129,43);
    font-size: 2.5vw;
    font-weight: bold;
}

#msg-el {
    font-style: italic;
}

#start-btn {
    margin-bottom: 2vh;
}

#bet-el {
    margin-top: -2vh;
}

.bet-buttons {
    margin-top: 2vh;
}